@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  background-color: $dark;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 400;
  font-size: 150px;
  color: $white;
}

h2 {
  font-weight: 700;
  font-size: 56px;
  color: $white;
}

h3 {
  font-weight: 700;
  font-size: 48px;
  color: $white;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding: 15px;
}

.holder {
  padding: 48px 65px;
  background: $darked;
  border: 1px solid transparent;
  border-radius: 50px;
  width: 100%;
  box-shadow: 0px 0px 250px 2px rgba(0, 0, 0, 0.5);
}

.border-blue {
  border: 2px solid $blue;
}

.border-light-blue {
  border: 2px solid $light-blue;
}

.border-cloud {
  border: 2px solid $cloud;
}

.border-yellow {
  border: 2px solid $yellow;
}

.border-white {
  border: 2px solid $white;
}

.btn {
  padding: 35px 55px;
  background: $cloud;
  border-radius: 10px;
  color: $white;
  font-size: 24px;
}
.btn-outline {
  background: transparent;
  border: 1px solid $cloud;
}