@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $dark-blue;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.main {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.screen-container {
  height: 100vh;
  max-height: 760px;
  width: 100%;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  width: fit-content;
  padding: 22px 72px;
  color: $white;
  background: $blue;
  border: none;
  border-radius: 50px;
  font-size: $fs-regular;
  cursor: pointer;
}

.btn-dark {
  background: $dark-blue;
  color: $white;
}

.btn:hover {
  opacity: 0.7;
}

.title {
  font-size: $fs-big;
  font-weight: 700;
  color: $blue;
}

.title-dark {
  color: $dark-blue;
}

input {
  width: 450px;
  padding: 22px 26px;
  background: white;
  border: none;
  border-radius: 50px;
}