.extension {
  color: $white;
  padding-bottom: 250px;
  .widgets {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 70px;
    .widget {
      padding: 38px 148px;
      display: flex;
      align-items: center;
      gap: 125px;
      font-size: 38px;
    }
    .right {
      .image {
        order: 1;
      }
    }
  }
}