.header-box {
  display: flex;
  justify-content: center;
  position: relative;
}

.header {
  width: 100%;
  height: 100%;

  .logo {
    position: absolute;
    top: 27px;
  }

  .title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 216px;
    padding-bottom: 180px;

    &__description {
      margin-top: 10px;
      font-size: 24px;
      font-weight: 400;
    }

    &__header {

      .title-small {
        font-size: $fs-big;
        font-weight: 700;
      }
      .title-big {
        font-size: $fs-grand;
        font-weight: 900;
        color: $blue;
      }
    }
  }

  .sqrt {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .sqrt-1 {
    top: -190px;
    right: 400px;
    width: 500px;
    height: 500px;
    background: $light-blue;
    border-radius: 25px;
    transform: rotate(45deg);
  }

  .sqrt-2 {
    bottom: -50px;
    right: 0;
    width: 500px;
    height: 500px;
    background: $light-blue;
    border-radius: 25px;
    transform: rotate(45deg);
  }

  .sqrt-3 {
    width: 360px;
    height: 360px;
    background: $blue;
    border-radius: 25px;
    margin-top: 100px;
    margin-left: 100px;
  }
}